



{% extends 'base.html.twig' %}

{% block body %}


    <!-- START PAGE CONTENT -->
    <div class="content">
        <!-- START JUMBOTRON -->
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="#" class="">Parcela Já</a></li>
                        <li><a href="#" class="active">Sub Grupos</a></li>
                    </ul>
                    <!-- END BREADCRUMB -->
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->



        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Criar Sub Grupo </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-10">
                            {#<h3>form_title</h3>#}
                            <p>Preencha os campos abaixo para criar um novo Sub Grupo</p>

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}

                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }} 
                            <div class="form-group">
                                <label for="fsubgroupname" class="col-sm-3 control-label">Nome</label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.fsubgroupname, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="imageFile" class="col-sm-3 control-label">Logotipo</label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 

                            <div class="form-group">
                                <label for="fstate" class="col-sm-3 control-label">Estado</label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.fstate, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 


                            <div class="form-group">
                                <label for="group" class="col-sm-3 control-label">Grupo</label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.group, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 


                            <br>

                            <div class="row">
                                <div class="col-sm-3">
                                    {#<p>I hereby certify that the information above is true and accurate. </p>#}
                                </div>
                                <div class="col-sm-9">
                                    <button class="btn btn-complete btn-cons m-b-10" type="submit">
                                        <i class="pg-form"></i> <span class="bold">Actualizar</span>
                                    </button>
                                    <button class="btn btn-default btn-cons m-b-10" type="reset">
                                        <i class="pg-close"></i> <span class="bold">Limpar</span>
                                    </button>



                                </div>
                            </div>
                            {{ form_end(form) }}



<a class="btn btn-primary btn-cons m-b-10" href="{{ path('admin_tsubgroup_index') }}">
                                <i class="fa fa-backward"></i> <span class="bold">Voltar a lista de Sub Grupos</span>
                            </a>

                           

                        </div>
                    </div>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->

    </div>
    <!-- END PAGE CONTENT -->

{% endblock %}
