
{% extends 'base.html.twig' %}

{% block body %}


    <!-- START PAGE CONTENT -->
    <div class="content">
        <!-- START JUMBOTRON -->
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="#" class="">Parcela Ja</a></li>
                        <li><a href="#" class="active">Bancos com códigos BIN</a></li>
                    </ul>
                    <!-- END BREADCRUMB -->
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->



        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Actualizar Banco com código BIN </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-10">
                            {#<h3>form_title</h3>#}
                            <p>Preencha os campos abaixo para actualizar um banco com código BIN</p>

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}


                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }} 
                            <div class="form-group">
                                <label for="countryName" class="col-sm-3 control-label">countryName</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.countryName, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="countryCode" class="col-sm-3 control-label">countryCode</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.countryCode, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="brand" class="col-sm-3 control-label">brand</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.brand, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="bank" class="col-sm-3 control-label">bank</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.bank, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <br>


                            <div class="row">
                                <div class="col-sm-3">
                                    {#<p>I hereby certify that the information above is true and accurate. </p>#}
                                </div>
                                <div class="col-sm-9">
                                    <button class="btn btn-complete btn-cons m-b-10" type="submit">
                                        <i class="pg-form"></i> <span class="bold">Update</span>
                                    </button>
                                    <button class="btn btn-default btn-cons m-b-10" type="reset">
                                        <i class="pg-close"></i> <span class="bold">Clear</span>
                                    </button>
                                </div>
                            </div>
                            {{ form_end(edit_form) }}


                            {{ form_start(delete_form) }}
                            <a class="btn btn-primary btn-cons m-b-10" href="{{ path('admin_binbank_index') }}">
                                <i class="fa fa-backward"></i> <span class="bold">Back to the list</span>
                            </a>
                            <button class="btn btn-danger btn-cons m-b-10" type="submit">
                                <i class="fa fa-warning"></i> <span class="bold">Delete</span>
                            </button>


                            {{ form_end(delete_form) }}








                        </div>
                    </div>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->

    </div>
    <!-- END PAGE CONTENT -->

{% endblock %}
