{% extends 'base.html.twig' %}


{% block body %}


    <!-- START PAGE CONTENT -->
    <div class="content">
        <!-- START JUMBOTRON -->
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="#" class="">Parcela Já</a></li>
                        <li><a href="#" class="active">Lojas</a></li>
                    </ul>
                    <!-- END BREADCRUMB -->
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->



        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Actualizar Loja </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-10">
                            {#<h3>form_title</h3>#}
                            <p>Preencha os campos abaixo para editar a loja</p>

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}

                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }} 
                            <div class="form-group">
                                <label for="fagencyname" class="col-sm-3 control-label">Nome</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fagencyname, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ffiscalname" class="col-sm-3 control-label">Nome Fiscal</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.ffiscalname, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ftaxidnumber" class="col-sm-3 control-label">NIF</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.ftaxidnumber, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="faddress" class="col-sm-3 control-label">Endereço</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.faddress, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                                
                                <div class="form-group">
                                <label for="taxAddress" class="col-sm-3 control-label">Endereço Fiscal</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.taxAddress, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            {#<div class="form-group">
                                <label for="fpostalcode1" class="col-sm-3 control-label">fpostalcode1</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fpostalcode1, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>    

                            <div class="form-group">
                                <label for="fpostalcode2" class="col-sm-3 control-label">fpostalcode2</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fpostalcode2, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 

                            <div class="form-group">
                                <label for="flocation" class="col-sm-3 control-label">flocation</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.flocation, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> #}

                            <div class="form-group">
                                <label for="femail1" class="col-sm-3 control-label">Email Loja</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.femail1, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 

                            <div class="form-group">
                                <label for="femail2" class="col-sm-3 control-label">Email Facturação</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.femail2, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                            <div class="form-group">
                                <label for="fcontactperson" class="col-sm-3 control-label">Pessoa de Contacto</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fcontactperson, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                
                                
                                
                                <div class="form-group">
                                <label for="ftelephone" class="col-sm-3 control-label">Telefone</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.ftelephone, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                
                                <div class="form-group">
                                <label for="fmobilephone" class="col-sm-3 control-label">Telemóvel</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fmobilephone, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                
                                <div class="form-group">
                                <label for="fwebsite" class="col-sm-3 control-label">Website</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fwebsite, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                
                                <div class="form-group">
                                <label for="fbank" class="col-sm-3 control-label">Banco</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fbank, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                <div class="form-group">
                                <label for="fiban" class="col-sm-3 control-label">IBAN</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fiban, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                <div class="form-group">
                                <label for="fbicswift" class="col-sm-3 control-label">BIC SWIFT</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fbicswift, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                <div class="form-group">
                                <label for="frnavt" class="col-sm-3 control-label">RNAVT</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.frnavt, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                <div class="form-group">
                                <label for="fpaymethodid" class="col-sm-3 control-label">Metodo de Pagamento</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fpaymethodid, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                <div class="form-group">
                                <label for="imageFile" class="col-sm-3 control-label">Logótipo</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.imageFile, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                <div class="form-group">
                                <label for="fstate" class="col-sm-3 control-label">Estado</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.fstate, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                                 <div class="form-group">
                                <label for="subgroup" class="col-sm-3 control-label">Sub Grupo</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.subgroup, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                 <div class="form-group">
                                <label for="broker" class="col-sm-3 control-label">Broker</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.broker, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> 
                                
                                
                               
                                
                          
                                

                            <br>

                            <div class="row">
                                <div class="col-sm-3">
                                    {#<p>I hereby certify that the information above is true and accurate. </p>#}
                                </div>
                                <div class="col-sm-9">
                                    <button class="btn btn-complete btn-cons m-b-10" type="submit">
                                        <i class="pg-form"></i> <span class="bold">Actualizar</span>
                                    </button>
                                    <button class="btn btn-default btn-cons m-b-10" type="reset">
                                        <i class="pg-close"></i> <span class="bold">Limpar</span>
                                    </button>
                                </div>
                            </div>
                            {{ form_end(edit_form) }}

                            
                            
                            {{ form_start(delete_form) }}
                            <a class="btn btn-primary btn-cons m-b-10" href="{{ path('admin_agency_index') }}">
                                <i class="fa fa-backward"></i> <span class="bold">Voltar a lista de Lojas</span>
                            </a>
                            <button class="btn btn-danger btn-cons m-b-10" type="submit">
                                <i class="fa fa-warning"></i> <span class="bold">Eliminar</span>
                            </button>


                            {{ form_end(delete_form) }}
                            
                            
                            

                        </div>
                    </div>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->

    </div>
    <!-- END PAGE CONTENT -->

{% endblock %}
