{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <!-- Apply the plugin -->
    <script type="text/javascript" >
        $(document).ready(function () {
            
            
            
            
            $('#tableWithExportOptions').DataTable({
                iDisplayLength: 20,
                bJQueryUI: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
{% endblock %}


{% block body %}

    <!-- START PAGE CONTENT -->
    <div class="content">
        <!-- START JUMBOTRON -->
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="#" class="">Parcela Já</a></li>
                        <li><a href="#" class="active">Lojas</a></li>
                    </ul>
                    <!-- END BREADCRUMB -->
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->


        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg bg-white">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Lista de Lojas
                    </div>
                    <div class="export-options-container pull-right"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">

                    <table class="display" id="tableWithExportOptions">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>NIF</th>
                                    {#<th>Flocation</th>#}
                                <th>Email Loja</th>
                                <th>Telemóvel</th>
                                    {#<th>Logotipo</th>#}
                                <th>Estado</th>

                                <th>Acções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tagency in tagencies %}
                                <tr>
                                    <td>{{ tagency.fagencyid }}</td>
                                    <td>{{ tagency.fagencyname }}</td>
                                    <td>{{ tagency.ftaxidnumber }}</td>

                                    {#<td>{{ tagency.flocation }}</td>#}
                                    <td>{{ tagency.femail1 }}</td>

                                    <td>{{ tagency.fmobilephone }}</td>

                                    {#<td>{{ tagency.flogo }}</td>#}
                                    <td>{% if tagency.fstate %}Activo{% else %}Inactivo{% endif %}</td>

                                    <td>
                                        <a href="{{ path('admin_agency_edit', { 'fagencyid': tagency.fagencyid }) }}" >
                                            <i class="fa fa-pencil"></i> <span class="">Editar Loja</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('admin_agency_new') }}" class="btn btn-success btn-cons m-b-10" type="submit">
                        <i class="pg-plus"></i> <span class="bold">Criar nova Loja</span>
                    </a>

                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->


    </div>
    <!-- END PAGE CONTENT -->

{% endblock %}