{# empty Twig template #}








<!-- BEGIN SIDEBAR -->
<div class="page-sidebar" data-pages="sidebar">
    <div id="appMenu" class="sidebar-overlay-slide from-top">
    </div>
    <!-- BEGIN SIDEBAR HEADER -->
    <div class="sidebar-header">
        <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
            <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
            </button>
            <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <!-- END SIDEBAR HEADER -->
    <!-- BEGIN SIDEBAR MENU -->
    <div class="sidebar-menu">
        <ul class="menu-items">

            
            {% set route = app.request.attributes.get('_route')%}
            
            <li class="{% if route in ['admin_payments_simulator','admin_payments_index', 'admin_payments_next_payments','admin_payments_payment_forecasts' ] %}active{% endif %}">
                <a href="javascript:;">
                    <span class="title">Transactions</span>
                    <span class=" arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="pg-phone"></i></span>
                <ul class="sub-menu">

                    {% if is_granted('ROLE_BNI') %} 
                        <li class="{% if route in ['admin_payments_simulator'] %}active{% endif %}">
                            <a href="{{ path('admin_payments_simulator') }}">Simulator</a>
                            <span class="icon-thumbnail">SI</span>
                        </li>
                    {% endif %}                    

                    {% if is_granted('ROLE_BNI') %} 
                        <li class="{% if route in ['admin_payments_index'] %}active{% endif %}">
                            <a href="{{ path('admin_payments_index') }}">Captured</a>
                            <span class="icon-thumbnail">TP</span>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_BNI') %} 
                        <li class="{% if route in ['admin_payments_next_payments'] %}active{% endif %}">
                            <a href="{{ path('admin_payments_next_payments') }}">Uncaptured</a>
                            <span class="icon-thumbnail">TP</span>
                        </li>
                    {% endif %}
                    
                    {% if is_granted('ROLE_ADMIN') %} 
                        <li class="{% if route in ['admin_payments_payment_forecasts'] %}active{% endif %}">
                            <a href="{{ path('admin_payments_payment_forecasts') }}">Aggregated</a>
                            <span class="icon-thumbnail">TP</span>
                        </li>
                    {% endif %}
                    
                    
                    

                </ul>
            </li>


            {% if is_granted('ROLE_ADMIN') %} 

                <li class="{% if route in ['admin_tsubgroup_index','admin_agency_index','admin_broker_index' ] %}active{% endif %}">
                    <a href="javascript:;">
                        <span class="title">Members</span>
                        <span class=" arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-phone"></i></span>
                    <ul class="sub-menu">
                        
                        <li class="{% if route in ['admin_tsubgroup_index' ] %}active{% endif %}">
                            <a href="{{ path('admin_tgroup_index') }}">Groups</a>
                            <span class="icon-thumbnail">TI</span>
                        </li>
                        
                        <li class="{% if route in ['admin_tsubgroup_index' ] %}active{% endif %}">
                            <a href="{{ path('admin_tsubgroup_index') }}">Sub Groups</a>
                            <span class="icon-thumbnail">TI</span>
                        </li>
                        
                        <li class="{% if route in ['admin_agency_index' ] %}active{% endif %}">
                            <a href="{{ path('admin_agency_index') }}">Agencies</a>
                            <span class="icon-thumbnail">TI</span>
                        </li>
                        <li class="{% if route in ['admin_broker_index' ] %}active{% endif %}">
                            <a href="{{ path('admin_broker_index') }}">Brokers</a>
                            <span class="icon-thumbnail">TP</span>
                        </li>
                        
                       

                    </ul>
                </li>
            {% endif %}
            
            
            
            
              {% if is_granted('ROLE_ADMIN') %} 

                <li class="{% if route in ['admin_broker_purchases','admin_agency_aggregare_purchases' ] %}active{% endif %}">
                    <a href="javascript:;">
                        <span class="title">Purchases</span>
                        <span class=" arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-phone"></i></span>
                    <ul class="sub-menu">
                        
                        <li class="{% if route in ['admin_tpurchase_index' ] %}active{% endif %}">
                            <a href="{{ path('admin_tpurchase_index') }}">Purchases</a>
                            <span class="icon-thumbnail">TP</span>
                        </li>
                        
                        <li class="{% if route in ['admin_broker_purchases' ] %}active{% endif %}">
                            <a href="{{ path('admin_broker_purchases') }}">Purchases by Brokers</a>
                            <span class="icon-thumbnail">TP</span>
                        </li>
                        
                        <li class="{% if route in ['admin_agency_aggregare_purchases' ] %}active{% endif %}">
                            <a href="{{ path('admin_agency_aggregare_purchases') }}">Purchases by Store</a>
                            <span class="icon-thumbnail">TP</span>
                        </li>

                    </ul>
                </li>
            {% endif %}
            
            
            


            {% if is_granted('ROLE_ADMIN') %} 

                <li class="{% if route in ['admin_tpos_index','admin_terminal_payment_index' ] %}active{% endif %}">
                    <a href="javascript:;">
                        <span class="title">Terminals</span>
                        <span class=" arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-phone"></i></span>
                    <ul class="sub-menu">
                        <li class="{% if route in ['admin_tpos_index'] %}active{% endif %}">
                            <a href="{{ path('admin_tpos_index') }}">Installed</a>
                            <span class="icon-thumbnail">TI</span>
                        </li>
                        <li class="{% if route in ['admin_terminal_payment_index' ] %}active{% endif %}">
                            <a href="{{ path('admin_terminal_payment_index') }}">Payments </a>
                            <span class="icon-thumbnail">TP</span>
                        </li>

                    </ul>
                </li>
            {% endif %}
            
            
            {% if is_granted('ROLE_ADMIN') %} 

                <li class="{% if route in ['admin_binbank_index', 'admin_bincode_index'] %}active{% endif %}">
                    <a href="javascript:;">
                        <span class="title">Bin Codes</span>
                        <span class=" arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-phone"></i></span>
                    <ul class="sub-menu">
                        <li class="{% if route in ['admin_binbank_index'] %}active{% endif %}">
                            <a href="{{ path('admin_binbank_index') }}">Banks</a>
                            <span class="icon-thumbnail">TI</span>
                        </li>
                        <li class="{% if route in ['admin_bincode_index'] %}active{% endif %}">
                            <a href="{{ path('admin_bincode_index') }}">Bins </a>
                            <span class="icon-thumbnail">TP</span>
                        </li>

                    </ul>
                </li>
            {% endif %}
            
            
            
            
            {% if is_granted('ROLE_ADMIN') %} 

                <li class="{% if route in ['admin_post_index', 'admin_media_index'] %}active{% endif %}">
                    <a href="javascript:;">
                        <span class="title">Website</span>
                        <span class=" arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-phone"></i></span>
                    <ul class="sub-menu">
                        <li class="{% if route in ['admin_post_index'] %}active{% endif %}">
                            <a href="{{ path('admin_post_index') }}">Posts</a>
                            <span class="icon-thumbnail">TI</span>
                        </li>
                        <li class="{% if route in ['admin_media_index'] %}active{% endif %}">
                            <a href="{{ path('admin_media_index') }}">News</a>
                            <span class="icon-thumbnail">TP</span>
                        </li>

                    </ul>
                </li>
            {% endif %}
            
            
            
            
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->