{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tgroups list</h1>

    <table>
        <thead>
            <tr>
                <th>Fgroupname</th>
                <th>Fgroupslugname</th>
                <th>Flogo</th>
                <th>Fstate</th>
                <th>Updatedat</th>
                <th>Fgroupid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tgroup in tgroups %}
            <tr>
                <td><a href="{{ path('tgroup_show', { 'fgroupid': tgroup.fgroupid }) }}">{{ tgroup.fgroupname }}</a></td>
                <td>{{ tgroup.fgroupslugname }}</td>
                <td>{{ tgroup.flogo }}</td>
                <td>{% if tgroup.fstate %}Yes{% else %}No{% endif %}</td>
                <td>{% if tgroup.updatedAt %}{{ tgroup.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ tgroup.fgroupid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tgroup_show', { 'fgroupid': tgroup.fgroupid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tgroup_edit', { 'fgroupid': tgroup.fgroupid }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tgroup_new') }}">Create a new tgroup</a>
        </li>
    </ul>
{% endblock %}
