
{% extends 'base.html.twig' %}

{% block body %}


    <!-- START PAGE CONTENT -->
    <div class="content">
        <!-- START JUMBOTRON -->
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="#" class="">Parcela Ja</a></li>
                        <li><a href="#" class="active">Códigos BIN</a></li>
                    </ul>
                    <!-- END BREADCRUMB -->
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->



        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Actualizar Código BIN </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-10">
                            {#<h3>form_title</h3>#}
                            <p>Preencha os campos abaixo para actualizar um código BIN</p>

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}


                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }} 
                            <div class="form-group">
                                <label for="bin" class="col-sm-3 control-label">bin</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.bin, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="bank" class="col-sm-3 control-label">bank</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.bank, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="card" class="col-sm-3 control-label">card</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.card, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="type" class="col-sm-3 control-label">type</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.type, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="level" class="col-sm-3 control-label">level</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.level, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="country" class="col-sm-3 control-label">country</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.country, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="countrycode" class="col-sm-3 control-label">countrycode</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.countrycode, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="website" class="col-sm-3 control-label">website</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.website, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">phone</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.phone, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                                
                                <div class="form-group">
                                <label for="valid" class="col-sm-3 control-label">valid</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.valid) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ourstate" class="col-sm-3 control-label">ourstate</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.ourstate) }}
                                </div>
                            </div>

                                
                                
                                <br/>
                                
                            <div class="row">
                                <div class="col-sm-3">
                                    {#<p>I hereby certify that the information above is true and accurate. </p>#}
                                </div>
                                <div class="col-sm-9">
                                    <button class="btn btn-complete btn-cons m-b-10" type="submit">
                                        <i class="pg-form"></i> <span class="bold">Update</span>
                                    </button>
                                    <button class="btn btn-default btn-cons m-b-10" type="reset">
                                        <i class="pg-close"></i> <span class="bold">Clear</span>
                                    </button>
                                </div>
                            </div>
                            {{ form_end(edit_form) }}



                            <a class="btn btn-primary btn-cons m-b-10" href="{{ path('admin_bincode_index') }}">
                                <i class="fa fa-backward"></i> <span class="bold">Back to the list</span>
                            </a>
                            




                        </div>
                    </div>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->

    </div>
    <!-- END PAGE CONTENT -->

{% endblock %}
