{% extends 'base.html.twig' %}

{% block body %}


    <!-- START PAGE CONTENT -->
    <div class="content">
        <!-- START JUMBOTRON -->
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="#" class="">Parcela Ja</a></li>
                        <li><a href="#" class="active">Mapa de Pagamentos de Terminais</a></li>
                    </ul>
                    <!-- END BREADCRUMB -->
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->



        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Editar Pagamento de Terminal </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-10">
                            {#<h3>form_title</h3>#}
                            <p>Preencha os campos abaixo para registar o pagamento de um terminal</p>

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}


                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }} 
                            <div class="form-group">
                                <label for="terminal" class="col-sm-3 control-label">terminal</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.terminal, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                     
                                    
                            <div class="form-group">
                                <label for="month" class="col-sm-3 control-label">month</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.month, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="year" class="col-sm-3 control-label">year</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.year, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                                
                            <div class="form-group">
                                <label for="value" class="col-sm-3 control-label">value</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.value, {'attr': {'class': 'autonumeric form-control', 'data-a-sign':'€'}}) }}
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-sm-3">
                                    {#<p>I hereby certify that the information above is true and accurate. </p>#}
                                </div>
                                <div class="col-sm-9">
                                    <button class="btn btn-complete btn-cons m-b-10" type="submit">
                                        <i class="pg-form"></i> <span class="bold">Update</span>
                                    </button>
                                    <button class="btn btn-default btn-cons m-b-10" type="reset">
                                        <i class="pg-close"></i> <span class="bold">Clear</span>
                                    </button>


                                </div>
                            </div>
                            {{ form_end(edit_form) }}

                            {{ form_start(delete_form) }}
                            <a class="btn btn-primary btn-cons m-b-10" href="{{ path('admin_terminal_payment_index') }}">
                                <i class="fa fa-backward"></i> <span class="bold">Back to list</span>
                            </a>
                            <button class="btn btn-danger btn-cons m-b-10" type="submit">
                                <i class="fa fa-warning"></i> <span class="bold">Delete</span>
                            </button>


                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->








    </div>
    <!-- END PAGE CONTENT -->

{% endblock %}