{% extends 'base.html.twig' %}


{% block body %}

    <!-- START PAGE CONTENT -->
    <div class="content">
        <!-- START JUMBOTRON -->
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="#" class="">Parcela Ja</a></li>
                        <li><a href="#" class="active">Mapa de Pagamentos de Terminais</a></li>
                    </ul>
                    <!-- END BREADCRUMB -->
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->









        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Filtro de Pagamento de Terminais </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-10">
                            {#<h3>form_title</h3>#}
                            <p>Preencha os campos abaixo pelos quais quer filtrar os pagamentos de terminais</p>

                            {{ form_start(search_form, {'attr': {'class': 'form-horizontal'}}) }} 
                            <div class="form-group">
                                <label for="terminal" class="col-sm-3 control-label">terminal</label>
                                <div class="col-sm-9">
                                    {{ form_widget(search_form.terminal, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-sm-3 control-label">Data</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <label class="col-sm-1 control-label">Ano</label>
                                        <div class="col-sm-5">
                                            {{ form_widget(search_form.year, {'attr': {'class': 'form-control', 'placeholder':'year'}}) }}
                                        </div>
                                        <label class="col-sm-1 control-label">Mes</label>
                                        <div class="col-sm-5">
                                            {{ form_widget(search_form.month, {'attr': {'class': 'form-control', 'placeholder':'year'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label">Aderente</label>
                                <div class="col-sm-9">
                                    <p><i class="fa fa-warning"></i> Selecionar apenas um dos campos referente ao aderente.</p>
                                    <div class="row">
                                        <label class="col-sm-1 control-label">group</label>
                                        <div class="col-sm-3">
                                            {{ form_widget(search_form.group, {'attr': {'class': 'form-control', 'placeholder':'group'}}) }}
                                        </div>
                                        <label class="col-sm-1 control-label">subGroup</label>
                                        <div class="col-sm-3">
                                            {{ form_widget(search_form.subGroup, {'attr': {'class': 'form-control', 'placeholder':'subGroup'}}) }}
                                        </div>
                                        <label class="col-sm-1 control-label">agency</label>
                                        <div class="col-sm-3">
                                            {{ form_widget(search_form.agency, {'attr': {'class': 'form-control', 'placeholder':'agency'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>






                            {#                            <div class="form-group">
                                                            <label for="group" class="col-sm-3 control-label">group</label>
                                                            <div class="col-sm-9">
                                                                {{ form_widget(search_form.group, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div>
                            
                                                        <div class="form-group">
                                                            <label for="subGroup" class="col-sm-3 control-label">sub_group</label>
                                                            <div class="col-sm-9">
                                                                {{ form_widget(search_form.subGroup, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div>
                            
                                                        <div class="form-group">
                                                            <label for="agency" class="col-sm-3 control-label">agency</label>
                                                            <div class="col-sm-9">
                                                                {{ form_widget(search_form.agency, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div>#}




                            <div class="form-group">
                                <label for="value" class="col-sm-3 control-label">value</label>
                                <div class="col-sm-9">
                                    {{ form_widget(search_form.value, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-sm-3">
                                    {#<p>I hereby certify that the information above is true and accurate. </p>#}
                                </div>
                                <div class="col-sm-9">



                                    <button class="btn btn-success btn-cons m-b-10" type="submit">
                                        <i class="fa fa-filter"></i> <span class="bold">Filter</span>
                                    </button>
                                    <button class="btn btn-default btn-cons m-b-10" type="reset">
                                        <i class="pg-close"></i> <span class="bold">Clear</span>
                                    </button>


                                </div>
                            </div>
                            {{ form_end(search_form) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->





















        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg bg-white">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Lista de Pagamentos dos Terminais 
                    </div>
                    <div class="export-options-container pull-right"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-condensed" id="tableWithExportOptions">
                        <thead>
                            <tr>
                                <th>Terminal</th>
                                <th>Agencia</th>
                                <th>Month</th>
                                <th>Year</th>
                                <th>Value</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for terminalPayment in terminalPayments %}
                                <tr>
                                    <td>{{ terminalPayment.terminal }}</td>
                                    <td>{{ terminalPayment.terminal.agency }}</td>
                                    <td>{{ terminalPayment.month }}</td>
                                    <td>{{ terminalPayment.year }}</td>
                                    <td>{{ terminalPayment.value }} €</td>

                                    <td>
                                        <a href="{{ path('admin_terminal_payment_edit', { 'id': terminalPayment.id }) }}" class="btn btn-info btn-cons m-b-10" type="button"><i class="fa fa-paste"></i> <span class="bold">Edit</span>
                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>







                    <a href="{{ path('admin_terminal_payment_new') }}" class="btn btn-success btn-cons m-b-10" type="submit">
                        <i class="pg-plus"></i> <span class="bold">New</span>
                    </a>

                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->


    </div>
    <!-- END PAGE CONTENT -->

{% endblock %}
