{% extends 'base.html.twig' %}

{% block body %}
    <h1>Terminalpayment</h1>

    <table>
        <tbody>
            <tr>
                <th>Month</th>
                <td>{{ terminalPayment.month }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ terminalPayment.year }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ terminalPayment.value }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ terminalPayment.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_terminal_payment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_terminal_payment_edit', { 'id': terminalPayment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
