{% extends 'base.html.twig' %}




{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function () {
            $('#example').DataTable({
                iDisplayLength: 20,
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'copy',
                        },
                        {
                            extend: 'csv',
                        },
                        {
                            extend: 'excel',
                        },
                        {
                            extend: 'colvis',
                            collectionLayout: 'fixed two-column'
                        }
                    ],
                    columnDefs: [{
                            targets: 0,
                            render: function (data, type, row) {
                                return data.length > 10 ?
                                        data.substr(0, 4) + '…' :
                                        data;
                            }
                        }]


                });
            });

{#            $(document).ready(function () {
                $('#tableWithExportOptions').DataTable({
                    iDisplayLength: 20,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });#}


    </script>
{% endblock %}


{% block body %}

    <!-- START PAGE CONTENT -->
    <div class="content">
        <!-- START JUMBOTRON -->
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <!-- START BREADCRUMB -->
                    <ul class="breadcrumb">
                        <li><a href="#" class="">Parcela Ja</a></li>
                        <li><a href="#" class="active">Mapa de parcelas capturadas</a></li>
                    </ul>
                    <!-- END BREADCRUMB -->
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->


        
        
        
        

        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg bg-white">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">Lista de Parcelas Capturadas </div>
                    <div class="export-options-container pull-right"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">

                    {% if tpayments is defined %}

                        <table class="display responsive" id="example">
                            <thead>
                                <tr>


                                    <th style="width: 2px;">Nº DA PARCELA</th>
                                        {#
                                                                                                               <th>VALOR COMISSAO PAGAR ADERENTE</th><!-- taxa desconto -->
                                                                                                                <th>VALOR COMISSAO PAGAR CLIENTE</th><!--taxa serviço-->
                                                                                                                
                                                                                                                <th>VALOR COMISSAO SUJEITA A IVA</th>
                                                                                                                <th>IVA COMISSAO</th>
                                                                                                                <th>CUSTO DE CAPTURA</th>
                                                                                                                <th>IVA CUSTO DE CAPTURA</th>
                                                                                                                <th>IVA TOTAL</th>
                                                                                                                
                                                                                                                <th>VALOR TOTAL COBRADO AO ADERENTE</th><!-- taxa desconto -->
                                                                                                                <th>VALOR TOTAL COBRADO AO CLIENTE</th><!--taxa serviço-->
                                                                                                                
                                                                                                                <th>VALOR FINANCIANDO AO ADERENTE</th>
                                                                                                                <th>VALOR PAGO AO ADERENTE</th>
                                                                                                                
                                                                                                                <th>VALOR DAS PARCELAS</th><!-- taxa desconto -->
                                                                                                                <th>VALOR DAS PARCELAS EMISSOR</th><!--taxa serviço-->#}

                                    <th>COMISSAO OGONE</th>
                                    <th>COMISSAO EVO PAYMENTS</th>
                                    <th>VALOR A RECEBER DA EVO PAYMENTS</th>
                                    <th>CAPITAL A AMORTIZADO MENSALMENTE</th>
                                    <th>CAPITAL AMORTIZADO ACUMULADO</th>
                                    <th>CAPITAL EM DÍVIDA</th>
                                    <th>JURO</th>
                                    <th>JURO ACUMULADO</th>
                                    <th>IMPOSTO SELO</th>
                                    <th>IMPOSTO SELO ACUMULADO</th>
                                    <th>π PARCIAL</th>
                                    <th>π ACUMULADA</th>
                                    <th>LUCRO PARCELA</th>
                                    <th>LUCRO BNI EUROPA</th>
                                    <th>VALOR TRANSF/PARCELA JÁ</th>
                                    <th>IVA VALOR PARCELA JÁ</th>
                                    <th>VALOR TRANSF/PARCELA JÁ (C/IVA)</th>
                                    <th>VALOR TRANSF BNI</th>
                                    <th>IS VALOR BNI</th>
                                    <th>VALOR TRANSF BNI (C/IS)</th>





                                    {#                                    <th>TAXA COMISSSAO SUJEITA A IVA</th>
                                                                            <th>TAXA PROCESSAMENTO</th>
                                                                            <th>IVA</th>
                                                                            <th>SERVIÇOS FINANCEIROS</th>
                                                                            <th>IMP. SELO</th>#}



                                </tr>
                            </thead>
                            <tbody>
                                {% for key, tpayment in tpayments %}
                                    <tr>
                                        <td>{{ tpayment.numParcela }}</td>

                                        {#
                                          <td>
                                              
                                              {% if tpayment.valorComissaoPagarAderente is defined %}
                                              {% if key == 0 %}
                                                  {{ tpayment.valorComissaoPagarAderente|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                              {%endif%}
                                              </td>
                                          <td>
                                              {% if tpayment.valorComissaoPagarCliente is defined %}
                                              {% if key == 0 %}
                                                  {{ tpayment.valorComissaoPagarCliente|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                              {%endif%}
                                              
                                              
                                              
                                              
                                          </td>
                                          <td>
                                              {% if key == 0 %}
                                                  {{ tpayment.valorComissaoSujeitaIva|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
  
                                          </td>
                                          <td>
                                              {% if key == 0 %}
                                                  {{ tpayment.ivaComissao|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                          </td>
                                          <td>
                                              {% if key == 0 %}
                                                  {{ tpayment.custoCaptura|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                          </td>
                                          <td>
                                              {% if key == 0 %}
                                                  {{ tpayment.ivaCustoCaptura|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                          </td>
                                          <td>
                                              {% if key == 0 %}
                                                  {{ tpayment.ivaTotal|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                          </td>
                                          <td>
                                              {% if tpayment.valorTotalCobradoAderente is defined %}
                                              {% if key == 0 %}
                                                  {{ tpayment.valorTotalCobradoAderente|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                              {%endif%}
                                              
                                              </td>
                                          <td>
                                              {% if tpayment.valorTotalCobradoCliente is defined %}
                                              {% if key == 0 %}
                                                  {{ tpayment.valorTotalCobradoCliente|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                              {%endif%}
                                              
                                              
                                          </td>
                                          <td>
                                              {% if key == 0 %}
                                                  {{ tpayment.valorFinanciadoAderente|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                          </td>
                                          <td>
  
                                              {% if key == 0 %}
                                                  {{ tpayment.valorPagoAderente|number_format(2, '.', ',') }} €
                                              {%else%}
                                                  &nbsp;
                                              {%endif%}
                                          </td>
                                          
                                          
                                          
                                          <td>
                                              {% if tpayment.valParcelas is defined %}
                                              {{ tpayment.valParcelas|number_format(2, '.', ',') }} €
                                              {% endif %}
                                              </td>
                                          <td>
                                              {% if tpayment.valParcelasEmissor is defined %}
                                              {{ tpayment.valParcelasEmissor|number_format(2, '.', ',') }} €
                                              {% endif %}
                                          </td>
                                          #}



                                        <td>{{ tpayment.comOgone|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.comEvoPayments|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.valorReceberEvoPayments|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.capitalAmortizadoMensalmente|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.capitalAmortizadoAcumulado|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.capitalEmDivida|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.juro|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.juroAcumulado|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.impostoSelo|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.impostoSeloAcumulado|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.piiParcial|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.piiAcumulado|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.lucroParcela|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.lucroBniEuropa|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.valorTransferParcela|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.ivaValorParcela|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.valorTransfParcelaComIva|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.valorTransfBni|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.impostoSeloValorBni|number_format(2, '.', ',') }} €</td>
                                        <td>{{ tpayment.valorTransfBniComImpostoSelo|number_format(2, '.', ',') }} €</td>
                                        {#<td>
                                            {% if key == 0 %}
                                                {{ tpayment.taxaComissaoSujeitaIva|number_format(2, '.', ',') }} €
                                            {%else%}
                                                &nbsp;
                                            {%endif%}
                                        </td>
                                        <td>
                                            {% if key == 0 %}
                                                {{ tpayment.taxaProcessamento|number_format(2, '.', ',') }} €
                                            {%else%}
                                                &nbsp;
                                            {%endif%}
                                        </td>
                                        <td>
                                            {% if key == 0 %}
                                                {{ tpayment.iva|number_format(2, '.', ',') }} €
                                            {%else%}
                                                &nbsp;
                                            {%endif%}

                                        </td>
                                        <td>
                                            {% if key == 0 %}
                                                {{ tpayment.servicosFinanceiros|number_format(2, '.', ',') }} €
                                            {%else%}
                                                &nbsp;
                                            {%endif%}
                                        </td>
                                        <td>
                                            {% if key == 0 %}
                                                {{ tpayment.impSelo|number_format(2, '.', ',') }} €
                                            {%else%}
                                                &nbsp;
                                            {%endif%}
                                        </td>#}



                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>




                    {% endif%}



                </div>
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END CONTAINER FLUID -->


    </div>
    <!-- END PAGE CONTENT -->








{% endblock %}
