{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tpayment</h1>

    <table>
        <tbody>
            <tr>
                <th>Frefcontractnum</th>
                <td>{{ tpayment.frefcontractnum }}</td>
            </tr>
            <tr>
                <th>Fpayid</th>
                <td>{{ tpayment.fpayid }}</td>
            </tr>
            <tr>
                <th>Finstallment</th>
                <td>{{ tpayment.finstallment }}</td>
            </tr>
            <tr>
                <th>Famount</th>
                <td>{{ tpayment.famount }}</td>
            </tr>
            <tr>
                <th>Fdate</th>
                <td>{% if tpayment.fdate %}{{ tpayment.fdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Famountevo</th>
                <td>{{ tpayment.famountevo }}</td>
            </tr>
            <tr>
                <th>Fdateevo</th>
                <td>{% if tpayment.fdateevo %}{{ tpayment.fdateevo|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fchargebackevo</th>
                <td>{{ tpayment.fchargebackevo }}</td>
            </tr>
            <tr>
                <th>Fpurchaseid</th>
                <td>{{ tpayment.fpurchaseid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_payments_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_payments_edit', { 'fpurchaseid': tpayment.fpurchaseid }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
