{# empty Twig template #}
<!-- BEGIN HEADER -->
<nav  id="home"  class="header static" data-pages="header">
    <nav class="header relative">
        <div class="container relative">
            <div class="pull-left">
                <div class="header-inner">
                    <img src="{{ asset('bundles/app/assets/images/logo_black.png') }}" class="logo" width="251" height="43" data-src-retina="{{ asset('bundles/app/assets/images/logo_black.png') }}" alt="">
                    <img src="{{ asset('bundles/app/assets/images/logo_black.png') }}" class="alt" width="251" height="43" data-src-retina="{{ asset('bundles/app/assets/images/logo_black.png') }}" alt="">
                    {#<img src="{{ asset('bundles/app/assets/images/logo_white.png') }}" class="alt" width="152" height="21" data-src-retina="{{ asset('bundles/app/assets/images/logo_white_2x.png') }}" alt="">#}
                </div>
            </div>
            <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right" data-pages="header-toggle" data-pages-element="#header">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="pull-right hidden-sm hidden-xs col-sm-6">
                <div class="header-inner text-right">

                    {% if app.request.locale == "en" %}
                        <a class="m-r-15 hint-text link text-black" href="{{ path('homepage', { '_locale': 'pt' }) }}">Português</a>
                    {% else %}
                        <a class="m-r-15 hint-text link text-black" href="{{ path('homepage', { '_locale': 'en' }) }}">English</a>
                    {% endif %}

                    {#<a class="m-r-15 hint-text link text-black" href="#">Blog</a>#}
                    {#<a class="m-r-15 hint-text link text-black b-r b-grey p-r-20" href="#">Privacy Policy</a>#}
                    <p class="font-montserrat fs-13 text-master p-t-20 inline ">+351 215 881 280 <i class="m-l-10 fa fa-phone"></i></p>
                </div>
            </div>
        </div>
    </nav>
    <!-- BEGIN NESTED MENU -->
    <nav class="header sm-header relative horizontal dark sm-p-t-20" data-spy="affix" data-offset-top="60">
        <div class="container relative ">
            <div class="menu-content" data-pages-direction="slideRight" id="header">
                <!-- BEGIN HEADER CLOSE TOGGLE FOR MOBILE -->
                <div class="pull-right">
                    <a href="#" class="text-black link padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10" data-pages="header-toggle" data-pages-element="#header">
                        <i class=" pg-close_line"></i>
                    </a>
                </div>
                <div class="pull-left sm-block sm-full-width">
                    <div class="header-inner">
                        <ul class="menu no-padding">
                            <li>
                                <a href="#home" class="active page-scroll">{% trans %}Home{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#{% trans %}bookmark_features{% endtrans %}" data-text="{% trans %}Features{% endtrans %}<">{% trans %}Features{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#{% trans %}bookmark_process{% endtrans %}" data-text="{% trans %}Process{% endtrans %}">{% trans %}Process{% endtrans %}</a>
                            </li>
                            {#<li>
                                <a href="#costumers" data-text="Testimonials">{% trans %}Testimonials{% endtrans %}</a>
                            </li>
                            #}{#   <li>
                                   <a href="#costumers" data-text="costumers">Costumers</a>
                               </li>#}
                            <li>
                                <a href="#{% trans %}bookmark_portfolio{% endtrans %}" data-text="{% trans %}Portfolio{% endtrans %}">{% trans %}Portfolio{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#{% trans %}bookmark_contactus{% endtrans %}" data-text="{% trans %}Contact us{% endtrans %}">{% trans %}Contact us{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pull-right sm-block sm-full-width">
                    <div class="header-inner">
                        <ul class="menu no-padding">
                            {#<li>
                                <a href="#" data-text="Sign up">{% trans %}Sign up{% endtrans %} </a>
                            </li>
                            <li>
                                <a href="#" data-text="Login" class="p-r-0">{% trans %}Login{% endtrans %}</a>
                            </li>#}
                            <li class="visible-sm visible-xs">
                                <a data-text="Contact Us" href="#">+351 215 881 280 <i class="m-l-10 fa fa-phone"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NESTED MENU -->
</nav>
<!-- END MENU -->
<!-- END HEADER -->


