{# empty Twig template #}

<!-- Footer -->
<div class="fundo-azul g-color-white-opacity-0_8 g-py-60">
  <div class="container">
    <div class="row">

      <!-- Footer Parcela Já -->
      <div class="col-lg-3 g-mb-60 g-mb-0--lg col-sm-6">
        <a class="d-block g-mb-25" href="{{ path('homepage') }}">
          <img class="img-fluid" style="height: 2.75rem;" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/logo/logo-nb-ft.svg') }}" alt="Logo">
        </a>

        <ul class="list-inline mb-0">
          <li class="list-inline-item g-mr-10">
            <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_3 g-color-white-opacity-0_8 rounded-circle g-bg-primary--hover" href="https://www.facebook.com/parcelajapt/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item g-mr-10">
            <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_3 g-color-white-opacity-0_8 rounded-circle g-bg-primary--hover" href="https://www.linkedin.com/company/parcela-j%C3%A1" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- End Footer Parcela Já -->

      <!-- Footer Parcela Já -->
      <div class="col-lg-5 g-mb-60 g-mb-0--lg col-sm-6">
        <address class="g-line-height-2 g-mt-minus-4">
          <h5 class="text-uppercase g-mb-15 g-color-white">Sede</h5>
          <ul class="list-unstyled g-mb-35">
            <li class="g-mb-5">
              Av. da República, 48-B, 6º
            </li>
            <li class="g-mb-5">
              1050-195 Lisboa
            </li>
          </ul>
          <ul class="list-unstyled g-mb-35">
            <li class="g-mb-5">
              Geral: <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="mailto:geral@parcelaja.pt">geral@parcelaja.pt</a>
            </li>
            <li class="g-mb-5">
              Comercial: <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="mailto:suporte@parcelaja.pt">suporte@parcelaja.pt</a>
            </li>
            <li class="g-mb-5">
              Clientes: <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="mailto:suporte@parcelaja.pt">suporte@parcelaja.pt</a>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li class="g-mb-5">
              Geral: <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="tel:+351215881280">+351 215 881 280</a>
            </li>
          </ul>
        </address>
      </div>
      <!-- End Footer Parcela Já -->

      <!-- Footer Produto -->
      <div class="col-lg-2 col-sm-6">
        <h5 class="text-uppercase g-mb-15 g-color-white">Produto</h5>
        <ul class="list-unstyled g-mb-35">
          <li class="g-mb-5">
            <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ path('como_funciona') }}">Como funciona</a>
          </li>
          <li class="g-mb-5">
            <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ path('para_clientes') }}">Para clientes</a>
          </li>
          <li class="g-mb-5">
            <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ path('faqs') }}">Perguntas frequentes</a>
          </li>
        </ul>
      </div>
      <!-- End Footer Produto -->

      <!-- Footer Empresas -->
      <div class="col-lg-2 col-sm-6">
        <h5 class="text-uppercase g-mb-15 g-color-white">Empresa</h5>
        <ul class="list-unstyled g-mb-35">
          <li class="g-mb-5">
            <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ path('emprego') }}">Emprego</a>
          </li>
          <li class="g-mb-5">
            <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ path('noticias') }}">Notícias e Media</a>
          </li>
          <li class="g-mb-5">
            <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ path('blog') }}">Blog</a>
          </li>
          <li class="g-mb-5">
            <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ path('contactos') }}">Contactos</a>
          </li>
          <li class="g-mb-5">
            <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ path('legal') }}">Informação legal</a>
          </li>
          <li class="g-mb-5">
            <a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ path('pci') }}">PCI</a>
          </li>
        </ul>
      </div>
      <!-- End Footer Empresas -->

    </div>
  </div>
</div>
<!-- End Footer -->

<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
  <div class="container">
    <div class="row">

      <!-- Copyright Content -->
      <div class="col-xs-12 col-lg-5 align-self-center text-center text-lg-left g-mb-10 g-mb-0--md">
        <div class="d-lg-flex">
          <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2017 © Todos os direitos reservados.</small>
        </div>
      </div>
      <!-- End Copyright Content -->

      <!-- Logos -->
      <div class="col-xs-12 col-lg-7 align-self-center text-center text-lg-right">
        <ul class="list-inline g-color-white g-font-size-40 g-line-height-1 mb-0">
          <li class="list-inline-item">
            <a href="https://www.madeira.gov.pt/" target="_blank">
              <img style="height: 2rem !important;" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/footer/logos/lg-madeira-footer.svg') }}" alt="Região Autónoma da Madeira">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.qren.pt/np4/home" target="_blank">
              <img style="height: 2rem !important;" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/footer/logos/lg-qren-footer.svg') }}" alt="QREN">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.idr.madeira.gov.pt/portal/Conteudo.aspx?IDMenu=2&IDSubMenu=74&Path=74&jmenu=3" target="_blank">
              <img style="height: 2rem !important;" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/footer/logos/lg-intervir-footer@2x.png') }}" alt="Intervir">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://ec.europa.eu/regional_policy/pt/funding/erdf/" target="_blank">
              <img style="height: 2rem !important;" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/footer/logos/lg-ue-footer.svg') }}" alt="União Europeia">
            </a>
          </li>
        </ul>
      </div>
      <!-- End Logos -->
    </div>
  </div>
</footer>
<!-- End Copyright Footer -->



<!-- Botão Voltar Para o Topo -->
<a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
  "bottom": 15,
  "right": 15
  }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
  <i class="hs-icon hs-icon-arrow-top"></i>
</a>
<!-- End Botão Voltar Para o Topo -->