{% extends 'AppBundle::v2_base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block body %}

    <!--@LM header -->
    {% include 'AppBundle:default:v2_header.html.twig'   with {'selected_menu': 'homepage'} %}

    <!-- Promo Block -->
    <section class="g-flex-centered g-bg-pos-center g-bg-img-hero g-py-150 u-bg-overlay g-bg-black-opacity-0_5--after" style="background-image: url({{ asset('bundles/app/frontend/v2/assets/img-parcelaja/heros/hero3.jpg') }});" data-calc-target="#js-header">
        <div class="container text-center g-z-index-1">
            <div class="g-py-50 g-mt-100" data-animation="fadeInUp" data-animation-delay="200" data-animation-duration="1500">

                {% if app.request.locale == "en" %}
                    <a class="js-fancybox-media u-link-v5 g-color-black" href="https://vimeo.com/241046229" title="Parcela Já - InStore Video">
                        <span class="botao-play--sm botao-play--md botao-play--lg align-middle u-icon-v3 u-block-hover--scale g-bg-primary g-color-white g-color-white--hover g-rounded-50x g-cursor-pointer mr-2">
                            <i class="g-font-size-20 g-font-size-28--md g-font-size-35--lg g-pos-rel g-left-2 fa fa-play"></i>
                        </span>
                    </a>
                {% else %}
                    <a class="js-fancybox-media u-link-v5 g-color-black" href="https://vimeo.com/241048391" title="Parcela Já - Loja Video">
                        <span class="botao-play--sm botao-play--md botao-play--lg align-middle u-icon-v3 u-block-hover--scale g-bg-primary g-color-white g-color-white--hover g-rounded-50x g-cursor-pointer mr-2">
                            <i class="g-font-size-20 g-font-size-28--md g-font-size-35--lg g-pos-rel g-left-2 fa fa-play"></i>
                        </span>
                    </a>
                {% endif %}

            </div>
            <h1 class="g-color-white titulo-hero titulo-hero--sm titulo-hero--md titulo-hero--lg titulo-hero--xl text-uppercase g-mb-100" data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500">
                {% trans %}homepage_block_01_title{% endtrans %}
            </h1>
        </div>
    </section>
    <!-- End Promo Block -->


    <!-- Diferencie o seu negócio com a Parcela Já -->
    <section id="seccao1" class="g-py-100">
        <div class="text-center g-mb-50">
            <h2 class="h2 h2--md h2--lg g-px-25 g-px-50--md">{% trans %}homepage_block_02_title{% endtrans %}</h2>
        </div>
        <div class="container">
            <div class="row no-gutters">

                <div class="col-lg-4 g-px-25 g-px-40--md g-mb-50 g-mb-0--lg">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="icon-finance-226 u-line-icon-pro"></i>
                        </span>
                        <h5 class="ig-font-size-18 text-uppercase mb-3">{% trans %}homepage_block_02_subtitle_01{% endtrans %}</h5>
                        <p class="paragrafo-icones g-font-size-14 mb-0">{% trans %}homepage_block_02_text_01{% endtrans %}</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-25 g-px-40--md g-mb-50 g-mb-0--lg">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="icon-finance-212 u-line-icon-pro"></i>
                        </span>
                        <h5 class="g-font-size-18 text-uppercase mb-3">{% trans %}homepage_block_02_subtitle_02{% endtrans %}</h5>
                        <p class="paragrafo-icones g-font-size-14 mb-0">{% trans %}homepage_block_02_text_02{% endtrans %}</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-25 g-px-40--md">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="icon-education-010 u-line-icon-pro"></i>
                        </span>
                        <h5 class="g-font-size-18 text-uppercase mb-3">{% trans %}homepage_block_02_subtitle_03{% endtrans %}</h5>
                        <p class="paragrafo-icones g-font-size-14 mb-0">{% trans %}homepage_block_02_text_03{% endtrans %}</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

            </div>
        </div>
    </section>
    <!-- End Diferencie o seu negócio com a Parcela Já -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".icone-flip-card").flip({
                trigger: 'hover'
            });
        });
    </script>

    <!-- VANTAGENS DAS LOJAS -->
    <section class="g-pt-100 g-pb-50 g-bg-secondary">
        <div class="container">
            <div class="text-center g-mb-50">
                <h3 class="h3 h3--md h3--lg">{% trans %}homepage_block_03_title{% endtrans %}</h3>
            </div>
            <div class="row">

                <div class="col-lg-4 col-sm-6 g-mb-50 text-center">
                    <!-- Bloco de ícone -->
                    <div class="icone-flip-card">
                        <!-- Frente Ícone -->
                        <div class="front">
                            <img class="" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/icones/01-pupj.svg') }}" alt="Aumento do número de vendas">
                        </div>
                        <!-- End Frente Ícone -->
                        <!-- Fundo Ícone -->
                        <div class="back">
                            <div class="text-center g-flex-middle-item g-py-90 g-px-15">
                                <h4 class="g-font-weight-400 g-color-white">{% trans %}homepage_block_03_text_01{% endtrans %}</h4>
                            </div>
                        </div>
                        <!-- End Fundo Ícone -->
                    </div>
                    <!-- End - Bloco de ícone -->
                </div>

                <div class="col-lg-4 col-sm-6 g-mb-50 text-center">
                    <!-- Bloco de ícone -->
                    <div class="icone-flip-card">
                        <!-- Frente Ícone -->
                        <div class="front">
                            <img class="" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/icones/02-pupj.svg') }}" alt="Aumento do valor médio de cada venda">
                        </div>
                        <!-- End Frente Ícone -->
                        <!-- Fundo Ícone -->
                        <div class="back">
                            <div class="text-center g-flex-middle-item g-py-90 g-px-15">
                                <h4 class="g-font-weight-400 g-color-white">{% trans %}homepage_block_03_text_02{% endtrans %}</h4>
                            </div>
                        </div>
                        <!-- End Fundo Ícone -->
                    </div>
                    <!-- End - Bloco de ícone -->
                </div>

                <div class="col-lg-4 col-sm-6 g-mb-50 text-center">
                    <!-- Bloco de ícone -->
                    <div class="icone-flip-card">
                        <!-- Frente Ícone -->
                        <div class="front">
                            <img class="" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/icones/03-pupj.svg') }}" alt="Diminuição do abandono de intenção de compra">
                        </div>
                        <!-- End Frente Ícone -->
                        <!-- Fundo Ícone -->
                        <div class="back">
                            <div class="text-center g-flex-middle-item g-py-75 g-px-15">
                                <h4 class="g-font-weight-400 g-color-white">{% trans %}homepage_block_03_text_03{% endtrans %}</h4>
                            </div>
                        </div>
                        <!-- End Fundo Ícone -->
                    </div>
                    <!-- End - Bloco de ícone -->
                </div>

                <div class="col-lg-4 col-sm-6 g-mb-50 text-center">
                    <!-- Bloco de ícone -->
                    <div class="icone-flip-card">
                        <!-- Frente Ícone -->
                        <div class="front">
                            <img class="" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/icones/04-pupj.svg') }}" alt="Aumento da faturação">
                        </div>
                        <!-- End Frente Ícone -->
                        <!-- Fundo Ícone -->
                        <div class="back">
                            <div class="text-center g-flex-middle-item g-py-90 g-px-15">
                                <h4 class="g-font-weight-400 g-color-white">{% trans %}homepage_block_03_text_04{% endtrans %}</h4>
                            </div>
                        </div>
                        <!-- End Fundo Ícone -->
                    </div>
                    <!-- End - Bloco de ícone -->
                </div>

                <div class="col-lg-4 col-sm-6 g-mb-50 text-center">
                    <!-- Bloco de ícone -->
                    <div class="icone-flip-card">
                        <!-- Frente Ícone -->
                        <div class="front">
                            <img class="" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/icones/05-pupj.svg') }}" alt="Aumento do número de clientes e sua fidelização">
                        </div>
                        <!-- End Frente Ícone -->
                        <!-- Fundo Ícone -->
                        <div class="back">
                            <div class="text-center g-flex-middle-item g-py-75 g-px-15">
                                <h4 class="g-font-weight-400 g-color-white">{% trans %}homepage_block_03_text_05{% endtrans %}</h4>
                            </div>
                        </div>
                        <!-- End Fundo Ícone -->
                    </div>
                    <!-- End - Bloco de ícone -->
                </div>

                <div class="col-lg-4 col-sm-6 g-mb-50 text-center">
                    <!-- Bloco de ícone -->
                    <div class="icone-flip-card">
                        <!-- Frente Ícone -->
                        <div class="front">
                            <img class="" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/icones/06-pupj.svg') }}" alt="Diminuição da burocracia nas vendas a crédito">
                        </div>
                        <!-- End Frente Ícone -->
                        <!-- Fundo Ícone -->
                        <div class="back">
                            <div class="text-center g-flex-middle-item g-py-75 g-px-15">
                                <h4 class="g-font-weight-400 g-color-white">{% trans %}homepage_block_03_text_06{% endtrans %}</h4>
                            </div>
                        </div>
                        <!-- End Fundo Ícone -->
                    </div>
                    <!-- End - Bloco de ícone -->
                </div>

            </div>
            <!-- End Team Block - VANTAGENS DAS LOJAS -->
        </div>
    </section>
    <!-- VANTAGENS DAS LOJAS -->








    <!-- Áreas de Negócio -->
    <div class="cor-seccao1"><!-- Cor da seccção -->
        <section class="container g-py-100 g-px-25 g-px-50--md">
            <div class="text-center g-mb-50">
                <h3 class="h3 h3--md h3--lg">{% trans %}homepage_block_04_title{% endtrans %}</h3>
                <!-- <p class="lead">This is where we begin to visualize your napkin sketches and make them into pixels.</p> -->
            </div>
            <div class="row g-mx-minus-10">

                <div class="col-sm-6 col-lg-4 col-xl-3 g-px-5 g-mb-10">
                    <article class="u-block-hover">
                        <a href="{{ path('para_clientes') }}#lojas">
                            <div class="u-bg-overlay g-bg-white-gradient-opacity-v1--after">
                                <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/areas-negocio/viagens-01.jpg') }}" alt="Agências de Viagens">
                            </div>
                            <div class="u-block-hover__additional--partially-slide-up g-z-index-1">
                                <div class="u-block-hover__visible g-pa-10">
                                    <h5 class="g-color-white text-center mb-3">
                                        Agências de Viagens
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>

                <div class="col-sm-6 col-lg-4 col-xl-3 g-px-5 g-mb-10">
                    <article class="u-block-hover">
                        <a href="{{ path('para_clientes') }}#lojas">
                            <div class="u-bg-overlay g-bg-white-gradient-opacity-v1--after">
                                <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/areas-negocio/informatica-03.jpg') }}" alt="Informática">
                            </div>
                            <div class="u-block-hover__additional--partially-slide-up g-z-index-1">
                                <div class="u-block-hover__visible g-pa-10">
                                    <h5 class="g-color-white text-center mb-3">
                                        Informática
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>

                <div class="col-sm-6 col-lg-4 col-xl-3 g-px-5 g-mb-10">
                    <article class="u-block-hover">
                        <a href="{{ path('para_clientes') }}#lojas">
                            <div class="u-bg-overlay g-bg-white-gradient-opacity-v1--after">
                                <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/areas-negocio/oculos.jpg') }}" alt="Ópticas">
                            </div>
                            <div class="u-block-hover__additional--partially-slide-up g-z-index-1">
                                <div class="u-block-hover__visible g-pa-10">
                                    <h5 class="g-color-white text-center mb-3">
                                        Ópticas
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>

                <div class="col-sm-6 col-lg-4 col-xl-3 g-px-5 g-mb-10">
                    <article class="u-block-hover">
                        <a href="{{ path('para_clientes') }}#lojas">
                            <div class="u-bg-overlay g-bg-white-gradient-opacity-v1--after">
                                <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/areas-negocio/perfumes-01.jpg') }}" alt="Perfumarias">
                            </div>
                            <div class="u-block-hover__additional--partially-slide-up g-z-index-1">
                                <div class="u-block-hover__visible g-pa-10">
                                    <h5 class="g-color-white text-center mb-3">
                                        Perfumarias
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>

                <div class="col-sm-6 col-lg-4 col-xl-3 g-px-5 g-mb-10">
                    <article class="u-block-hover">
                        <a href="{{ path('para_clientes') }}#lojas">
                            <div class="u-bg-overlay g-bg-white-gradient-opacity-v1--after">
                                <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/areas-negocio/oficina-02.jpg') }}" alt="Reparação de Veículos">
                            </div>
                            <div class="u-block-hover__additional--partially-slide-up g-z-index-1">
                                <div class="u-block-hover__visible g-pa-10">
                                    <h5 class="g-color-white text-center mb-3">
                                        Reparação de Veículos
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>

                <div class="col-sm-6 col-lg-4 col-xl-3 g-px-5 g-mb-10">
                    <!-- Blog Background Overlay Blocks -->
                    <article class="u-block-hover">
                        <img class="img-fluid" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/home/areas-negocio/placeholder/placeholder-area-neg-01b.png') }}">
                    </article>
                    <!-- End Blog Background Overlay Blocks -->
                </div>

            </div>
        </section>
    </div><!-- End Cor da seccção -->
    <!-- End - Áreas de Negócio -->




    <!--@LM Footer Call to Action -->
    {% include 'AppBundle:default:v2_footer_call_to_action.html.twig' %}

    <!--@LM Footer -->
    {% include 'AppBundle:default:v2_footer.html.twig' %}



{% endblock %}




{% block javascripts %}
    <!-- JS Global Compulsory -->

    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/jquery.easing/js/jquery.easing.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/bootstrap/bootstrap.min.js') }}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/appear.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/slick-carousel/slick/slick.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/hs-megamenu/src/hs.megamenu.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/dzsparallaxer/dzsparallaxer.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/dzsparallaxer/dzsscroller/scroller.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/dzsparallaxer/advancedscroller/plugin.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/hs-bg-video/hs-bg-video.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/hs-bg-video/vendor/player.min.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/fancybox/jquery.fancybox.js') }}"></script>

    <!-- JS Unify -->
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/hs.core.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.header.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/helpers/hs.hamburgers.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.dropdown.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.tabs.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/helpers/hs.height-calc.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.onscroll-animation.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/helpers/hs.bg-video.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.popup.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.carousel.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.go-to.js') }}"></script>

    <!-- JS Custom -->
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/custom.js') }}"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            $('#we-provide').slick('setOption', 'responsive', [{
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1
                    }
                }], true);

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of header's height equal offset
            $.HSCore.helpers.HSHeightCalc.init();

            // initialization of scroll animation
            $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

            // initialization of video on background
            $.HSCore.helpers.HSBgVideo.init('.js-bg-video');

            // initialization of popups with media
            $.HSCore.components.HSPopup.init('.js-fancybox-media', {
                helpers: {
                    media: {},
                    overlay: {
                        css: {
                            'background': 'rgba(0, 0, 0, .8)'
                        }
                    }
                }
            });

            // initialization of HSDropdown component
            $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'));

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });

    </script>


{% endblock %}


