{% extends 'AppBundle::v2_base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block body %}

    <!--@LM header -->
    {% include 'AppBundle:default:v2_header.html.twig'   with {'selected_menu': 'homepage'} %}


    <!-- Notícias -->
    <div class="container g-pt-70 g-mb-50 g-px-25 g-px-50--md">

        <!-- Título -->
        <div class="u-heading-v3-1 g-mt-50 g-mb-50">
            <h2 class="u-heading-v3__title g-brd-primary h2 h2--md h2--lg">Notícias e Media</h2>
        </div>
        <!-- End - Título -->

        <!-- Lista de Notícias -->
        <div class="row">



            {% for noticia in noticias %}




                <!-- Notícia -->
                <div class="col-md-4 g-mb-50">
                    <article>
                        <figure class="g-pos-rel g-mb-20">
                            <a href="#">
                                <img class="img-fluid w-100" src="{{ vich_uploader_asset(noticia, 'imageFile') }}" alt="{{ noticia.title }}" />
                            </a>
                        </figure>
                        <h3 class="h4 g-mb-10">
                            <a class="u-link-v5 h3 g-color-primary--hover" href="#">{{ noticia.title }}</a>
                        </h3>
                        <ul class="list-inline g-font-size-12">
                            <li class="list-inline-item">
                                {{noticia.createdAt|date("F j, Y, g:i a")}} 
                            </li>
                        </ul>
                        <p>{{ noticia.message }}</p>
                        <a class="g-font-size-12 text-uppercase" href="{{ noticia.link }}">{% trans %}newsandmedia_readmore{% endtrans %}</a>
                    </article>
                </div>
                <!-- End - Notícia -->




            {% endfor %}


</div>
  <!-- End - Lista de Notícias -->

</div>
<!-- End - Notícias -->

    <!-- Pagination -->
    {#<div class="container g-mb-100 g-px-25 g-px-50--md">
      <nav aria-label="Page Navigation">
        <ul class="list-inline text-center mb-0">
          <li class="list-inline-item">
            <a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-secondary-light-v2 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#">1</a>
          </li>
          <li class="list-inline-item">
            <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-secondary-dark-v1 g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#">2</a>
          </li>
          <li class="list-inline-item g-hidden-xs-down">
            <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-secondary-dark-v1 g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#">3</a>
          </li>
          <li class="list-inline-item">
            <span class="g-width-30 g-height-30 g-font-size-12 rounded g-pa-5">...</span>
          </li>
          <li class="list-inline-item g-hidden-xs-down">
            <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-secondary-dark-v1 g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#">15</a>
          </li>
          <li class="list-inline-item">
            <a class="u-pagination-v1__item g-brd-secondary-light-v2 g-brd-primary--hover g-color-primary--hover g-font-size-12 rounded g-px-15 g-py-5 g-ml-15" href="#" aria-label="Next">
              <span aria-hidden="true">
                Seguinte
                <i class="ml-2 fa fa-angle-right"></i>
              </span>
              <span class="sr-only">Seguinte</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>#}
    <!-- End Pagination -->





    <!--@LM Footer Call to Action -->
    {% include 'AppBundle:default:v2_footer_call_to_action.html.twig' %}

    <!--@LM Footer -->
    {% include 'AppBundle:default:v2_footer.html.twig' %}



{% endblock %}




{% block javascripts %}
    {{ parent() }}

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');
            $('#we-provide').slick('setOption', 'responsive', [{
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1
                    }
                }], true);
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');
            // initialization of header's height equal offset
            $.HSCore.helpers.HSHeightCalc.init();
            // initialization of scroll animation
            $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
            // initialization of video on background
            $.HSCore.helpers.HSBgVideo.init('.js-bg-video');
            // initialization of popups with media
            $.HSCore.components.HSPopup.init('.js-fancybox-media', {
                helpers: {
                    media: {},
                    overlay: {
                        css: {
                            'background': 'rgba(0, 0, 0, .8)'
                        }
                    }
                }
            });
            // initialization of HSDropdown component
            $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'));
            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });
        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');
            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });
        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>



{% endblock %}


