{% extends 'AppBundle::v2_base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ asset('bundles/app/frontend/v2/assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/frontend/v2/assets/vendor/custombox/custombox.min.css') }}"> <!-- Modal de Lojas -->
{% endblock %}



{% block body %}


    <!--@LM header -->
    {% include 'AppBundle:default:v2_header.html.twig'   with {'selected_menu': 'para_clientes'} %}




    <!-- Hero -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll fundo-branco" data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_5--after parcelaja-hero-pos-right-top" style="height: 140%; background-image: url({{ asset('bundles/app/frontend/v2/assets/img-parcelaja/clientes/hero/hero-para-clientes-1920x1080-parallax.jpg') }})"></div>
        <!-- End Parallax Image -->
        <div class="parcelaja-hero-container container text-center g-px-0">
            <div class="row justify-content-center parcelaja-hero-seta text-center g-px-0 g-mx-0" data-animation="fadeInUp" data-animation-delay="1100" data-animation-duration="1500">
                <a class="g-mb-20 g-mb-25--sm g-mb-30--md g-font-size-30 g-font-size-40--md g-text-underline--none js-go-to" href="#" data-target="#seccao1"><i class="icon-arrow-down u-simple-line-icon"></i></a>
            </div>
            <div class="parcela-hero-play container text-center">
                <div class="g-mb-25 g-mb-50--md" data-animation="fadeIn" data-animation-delay="200" data-animation-duration="800">


                    {% if app.request.locale == "en" %}
                        <a class="js-fancybox-media u-link-v5 g-color-black" href="https://vimeo.com/241046229" title="Parcela Já - InStore (PT Legendado)">
                            <span class="align-middle g-cursor-pointer">
                                <img class="botao-play botao-play--sm botao-play--md botao-play--lg botao-play--xl u-block-hover--scale" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/botoes/bt-video.svg') }}">
                            </span>
                        </a>
                    {% else %}


                        <a class="js-fancybox-media u-link-v5 g-color-black" href="https://vimeo.com/241048391" title="Parcela Já - InStore (PT Legendado)">
                            <span class="align-middle g-cursor-pointer">
                                <img class="botao-play botao-play--sm botao-play--md botao-play--lg botao-play--xl u-block-hover--scale" src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/botoes/bt-video.svg') }}">
                            </span>
                        </a>
                    {% endif %}


                </div>
                <h1 class="g-color-white titulo-hero titulo-hero--sm titulo-hero--md titulo-hero--lg titulo-hero--xl text-uppercase" data-animation="fadeInUp" data-animation-delay="400" data-animation-duration="1500">
                    {% trans %}forclients_block_01_title{% endtrans %}
                </h1>
            </div>
        </div>
    </section>
    <!-- End - Hero -->





    <!-- Icon Blocks -->
    <section id="seccao1" class="g-py-50 g-py-100--sm g-px-25 g-px-50--lg">
        <div class="container">
            <div class="text-center g-mb-50">
                <h2 class="h2 h2--md h2--lg">{% trans %}forclients_block_02_title{% endtrans %}</h2>
            </div>
            <div class="row no-gutters">

                <div class="col-sm-6 col-lg-4 g-px-40 g-mb-50 g-mb-50--lg">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="icon-finance-222 u-line-icon-pro"></i>
                        </span>
                        <p class="paragrafo-icones g-font-size-14 mb-0">{% trans %}forclients_block_02_subtitle01{% endtrans %}</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-sm-6 col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-50--lg">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="icon-finance-212 u-line-icon-pro g-left-5"></i>
                        </span>
                        <p class="paragrafo-icones g-font-size-14 mb-0">{% trans %}forclients_block_02_subtitle02{% endtrans %}</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-sm-6 col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-50--lg">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="icon-finance-164 u-line-icon-pro g-left-2"></i>
                        </span>
                        <p class="paragrafo-icones g-font-size-14 mb-0">{% trans %}forclients_block_02_subtitle03{% endtrans %}</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-sm-6 col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="icon-finance-225 u-line-icon-pro"></i>
                        </span>
                        <p class="paragrafo-icones g-font-size-14 mb-0">{% trans %}forclients_block_02_subtitle04{% endtrans %}</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-sm-6 col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="icon-travel-032 u-line-icon-pro g-left-2"></i>
                        </span>
                        <p class="paragrafo-icones g-font-size-14 mb-0">{% trans %}forclients_block_02_subtitle05{% endtrans %}</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-sm-6 col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-0 g-mb-0--lg">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="icon-finance-018 u-line-icon-pro"></i>
                        </span>
                        <p class="paragrafo-icones g-font-size-14 mb-0">{% trans %}forclients_block_02_subtitle06{% endtrans %}</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

            </div>
        </div>
    </section>
    <!-- End Icon Blocks -->



    <!-- Lojas -->
    <section id="lojas" class="g-py-50 g-py-100--sm g-px-25 g-px-50--md g-bg-secondary">

        <!-- Cabeçalho -->
        <div class="container">
            <!-- Título -->
            <div class="row justify-content-center text-center g-mb-50">
                <div class="col-lg-8">
                    <h2 class="h2 h2--md h2--lg mb-0">{% trans %}forclients_block_03_title{% endtrans %}</h2>
                </div>
            </div>
            <!-- End - Título -->

            <!-- Filtro de Lojas -->
            <ul id="filterControls" class="d-block list-inline text-center g-mb-50 parcelaja-filtro">
                <li class="list-inline-item cbp-filter-item g-brd-around g-brd-gray-light-v4 g-brd-primary--hover g-bg-primary--hover g-color-gray-dark-v4 g-color-white--hover g-color-white--active g-font-size-12 rounded g-transition-0_3 g-px-20 g-py-7 mb-2 cbp-filter-item-active" role="button" data-filter="*">{{'homepage_grupos_all'|trans}}</li>
                    {% for grupo in grupos %}
                    <li class="list-inline-item cbp-filter-item g-brd-around g-brd-gray-light-v4 g-brd-primary--hover g-bg-primary--hover g-color-gray-dark-v4 g-color-white--hover g-color-white--active g-font-size-12 rounded g-transition-0_3 g-px-20 g-py-7 mb-2" role="button" data-filter=".{{grupo.fgroupid}}">{{grupo.fgroupslugname|trans}}</li>
                    {% endfor %} 
            </ul>
            <!-- End - Filtro de Lojas -->
        </div>
        <!-- End - Cabeçalho -->


        <!-- Conteúdo -->
        <div class="container">
            <div class="cbp" data-controls="#filterControls" data-animation="quicksand" data-x-gap="5" data-y-gap="5" data-media-queries='[
                 {"width": 1500, "cols": 4},
                 {"width": 1100, "cols": 4},
                 {"width": 800, "cols": 3},
                 {"width": 480, "cols": 2},
                 {"width": 300, "cols": 1}
                 ]'>


                {% for sub_grupo in sub_grupos %}
                    {% set logo = sub_grupo.flogo %}
{#
                    {% for agencia in sub_grupo.agencyList %}
                        {% if agencia.flogo is not empty %}
                            {% set logo = agencia.flogo %}
                        {% endif %}
                    {% endfor %}#}

                    <!-- SubGrupo -->
                    <div class="cbp-item {{sub_grupo.group.fgroupid}}">
                        <div class="u-block-hover g-parent">
                            <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="/uploads/subgrupos/{{logo}}" alt="" >
                            <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-bg-bluegray-opacity-0_5 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                                <div class="d-flex align-items-start flex-column mb-auto">
                                    <h3 class="h5 g-color-white g-font-weight-600 mb-1">{{sub_grupo.fsubgroupname}}</h3>
                                    <span class="d-block g-color-white">{{sub_grupo.group.fgroupslugname|trans}}</span>
                                </div>
                                <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                                    <li class="list-inline-item">
                                        <a class="btn u-btn-white g-color-primary" href="#modal-loja-{{sub_grupo.fsubgroupid}}" data-modal-target="#modal-loja-{{sub_grupo.fsubgroupid}}" data-modal-effect="fadein">
                                            {{'forclients_botao_ver_lojas'|trans}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End - SubGrupo-->

                    <!-- Modal -->
                    <div id="modal-loja-{{sub_grupo.fsubgroupid}}" class="text-left g-bg-white g-overflow-y-auto g-mx-25 g-width-90x parcelaja-modal-loja-aderente" style="display: none;">
                        <div class="fundo-azul-claro g-pa-20 g-mb-20">
                            <button type="button" class="close" onclick="Custombox.modal.close();">
                                <i class="hs-icon hs-icon-close"></i>
                            </button>
                            <h4>{{sub_grupo.fsubgroupname}}</h4>
                            <p>{{sub_grupo.group.fgroupslugname|trans}}</p>
                        </div>
                        <div class="g-pa-20">
                            {% for agencia in sub_grupo.agencyList %}
                                <div class="row align-items-center justify-content-between g-mb-20 g-pt-20{% if loop.index0 > 0 %} g-brd-top g-brd-gray-light-v4 {%endif%}">

                                    <div class="col-8 col-sm-9">
                                        <h5 class="g-mb-0">{{agencia.fagencyname}}</h5>
                                        <p class="g-mb-0">{{agencia.faddress}}</p>
                                        <p class="g-mb-0">{{agencia.fpostalcode1}}-{{agencia.fpostalcode2}}, {{agencia.flocation}}</p>

                                        {% if agencia.ftelephone is not empty %}
                                            <p class="g-mb-0">Tel.: <a href="tel:{{agencia.ftelephone}}">{{agencia.ftelephone}}</a></p>
                                            {%endif%}
                                    </div>
                                    <div class="col-4 col-sm-3 text-right">

                                        {% if agencia.fwebsite is not empty %}
                                            <a class="btn btn-xs btn--sm u-btn-primary g-text-underline--none" href="{{agencia.fwebsite}}" target="_blank">{{'forclients_botao_visitar'|trans}}</a>
                                        {%endif%}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End - Modal -->
                {% endfor %}
            </div>
        </div>
        <!-- End - Conteúdo -->

    </section>
    <!-- End - Lojas -->






    <!--@LM Footer Call to Action -->
    {% include 'AppBundle:default:v2_footer_call_to_action.html.twig' %}

    <!--@LM Footer -->
    {% include 'AppBundle:default:v2_footer.html.twig' %}



{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/jquery/jquery.min.js') }}"></script>




    <!-- JS Global Compulsory -->
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/jquery.easing/js/jquery.easing.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/bootstrap/bootstrap.min.js') }}"></script>


    <!-- JS Implementing Plugins -->
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/appear.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/slick-carousel/slick/slick.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/hs-megamenu/src/hs.megamenu.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/dzsparallaxer/dzsparallaxer.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/dzsparallaxer/dzsscroller/scroller.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/dzsparallaxer/advancedscroller/plugin.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/hs-bg-video/hs-bg-video.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/hs-bg-video/vendor/player.min.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/fancybox/jquery.fancybox.js') }}"></script>

    <!-- para clientes -->
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/masonry/dist/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/vendor/custombox/custombox.min.js') }}"></script> <!-- Modal de Lojas -->
    <!-- fim para clientes -->

    <!-- JS Unify -->
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/hs.core.js') }}"></script>

    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.header.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/helpers/hs.hamburgers.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.dropdown.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.tabs.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/helpers/hs.height-calc.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.onscroll-animation.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/helpers/hs.bg-video.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.popup.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.carousel.js') }}"></script>
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.go-to.js') }}"></script>

    <!-- para clientes -->
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.cubeportfolio.js') }}"></script>

    <script src="{{ asset('bundles/app/frontend/v2/assets/js/components/hs.modal-window.js') }}"></script> <!-- Modal de Lojas -->
    <!-- fim para clientes -->



    <!-- JS Custom -->
    <script src="{{ asset('bundles/app/frontend/v2/assets/js/custom.js') }}"></script>





    <!-- JS Plugins Init. -->
    <script>
                                $(document).on('ready', function () {
                                    // initialization of carousel
                                    $.HSCore.components.HSCarousel.init('.js-carousel');
                                    $('#we-provide').slick('setOption', 'responsive', [{
                                            breakpoint: 992,
                                            settings: {
                                                slidesToShow: 2
                                            }
                                        }, {
                                            breakpoint: 576,
                                            settings: {
                                                slidesToShow: 1
                                            }
                                        }], true);
                                    // initialization of tabs
                                    $.HSCore.components.HSTabs.init('[role="tablist"]');
                                    // initialization of header's height equal offset
                                    $.HSCore.helpers.HSHeightCalc.init();
                                    // initialization of scroll animation
                                    $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
                                    // initialization of video on background
                                    $.HSCore.helpers.HSBgVideo.init('.js-bg-video');
                                    // initialization of popups with media
                                    $.HSCore.components.HSPopup.init('.js-fancybox-media', {
                                        helpers: {
                                            media: {},
                                            overlay: {
                                                css: {
                                                    'background': 'rgba(0, 0, 0, .8)'
                                                }
                                            }
                                        }
                                    });
                                    // initialization of masonry
                                    $('.masonry-grid').imagesLoaded().then(function () {
                                        $('.masonry-grid').masonry({
                                            columnWidth: '.masonry-grid-sizer',
                                            itemSelector: '.masonry-grid-item',
                                            percentPosition: true
                                        });
                                    });
                                    // initialization of HSDropdown component
                                    $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'));
                                    // initialization of go to
                                    $.HSCore.components.HSGoTo.init('.js-go-to');

                                    // initialization of popups
                                    $.HSCore.components.HSModalWindow.init('[data-modal-target]');
                                });
                                $(window).on('load', function () {
                                    // initialization of header
                                    $.HSCore.components.HSHeader.init($('#js-header'));
                                    $.HSCore.helpers.HSHamburgers.init('.hamburger');
                                    // initialization of HSMegaMenu component
                                    $('.js-mega-menu').HSMegaMenu({
                                        event: 'hover',
                                        pageContainer: $('.container'),
                                        breakpoint: 991
                                    });
                                    // initialization of cubeportfolio - Filtragem de Lojas Aderentes
                                    $.HSCore.components.HSCubeportfolio.init('.cbp');
                                });
                                $(window).on('resize', function () {
                                    setTimeout(function () {
                                        $.HSCore.components.HSTabs.init('[role="tablist"]');
                                    }, 200);
                                });
    </script>

    <script>
        // Verificar se é link para Lojas
        if (window.location.href.indexOf("cbpf") > -1) {
            // alerta("O URL contém a "cbpf");
            // Scroll to a certain element
            document.querySelector('#lojas').scrollIntoView({
                behavior: 'smooth'
            });
        }
        ;
    </script>
{% endblock %}